/* Base App styling */
.App {
  background-color: #f8f9fa;
  min-height: 100vh;
  padding: 20px;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .card {
  background-color: #1f1f1f;
  border-color: #333;
}

.dark-mode .btn {
  color: white;
}

.dark-mode .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.dark-mode .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.dark-mode input,
.dark-mode textarea {
  background-color: #333;
  color: white;
  border: 1px solid #444;
}

.dark-mode input::placeholder,
.dark-mode textarea::placeholder {
  color: #aaa;
}

.container {
  max-width: 900px;
  margin: auto;
}

.dark-mode .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
}

.navbar-brand, .nav-link {
  color: white !important;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-primary {
  background-color: #007bff !important;
}

.dark-mode .navbar-primary {
  background-color: #0056b3 !important;
}

.form-check-label {
  color: white;
}



/* Note text visibility in dark mode */
.dark-mode .card-text {
  color: white;
}

.dark-mode .card{
  color: white;
}